@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Bytesized&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.topnav {
    display: flex;
    /* align-items: center; */
    align-items: baseline;
    justify-content: space-between;

    overflow: hidden;
    margin-top: 0.8vh;
    padding: 0 20px;
    font-family: 'Poppins', sans-serif;

}

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav button {
    padding: 14px 16px;
}



.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.topnav .ctaButton {
    cursor: pointer;
    background-color: #FF4500;
    border-radius: 10px;
    width: 200px;
}

.choose {
    margin-left: 30px;
}








/* hero section css code  */


.hero-section {
    display: flex !important;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 80vh;
    margin: 0;
}

.hero_section_principale_text {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    height: 150px;
}

.hero_section_secondaire_text {
    /* to align text in center  */
    text-align: center;

    font-weight: 250;
    font-size: 3rem;
    margin: 0 auto;

    /* max-width: 200px; */
    height: 300px;
    font-size: 1.59rem;

    line-height: 1.5;
    padding: 0px;

}

.hero_section_principale_text h1 {
    font-size: 2.30rem;
    color: #f2f2f2;
    margin: 0;
    /* white-space: nowrap; */
    font-family: "Poppins", sans-serif;
    font-weight: 450;
    line-height: 1.5;
    padding: 20px;


}



.footer_button_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_ctaButton {
    margin: 0 auto;
    background-color: #FF4500;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    height: 54px;
    margin-bottom: 250px;
    position: absolute;

}